  <!-- Projects Section-->
  <section class="py-5">
    <div class="container px-5 mb-5">

        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">Prada “brinca” com ilusão de ótica durante desfile em Milão</h2>
                                <p>Sob direção criativa de Miuccia Prada e Raf Simons, a Prada brincou com a ilusão de ótica ao apresentar sua coleção de verão 2025, intitulada de “Closer”, no último domingo (16), durante a Semana de Moda de Milão.</p>
                            </div>
                            <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                        </div>
                    </div>
                </div>
                <!-- Project Card 2-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">Bruna Marquezine relembra perrengues com look do Met Gala: “Me cortava”</h2>
                                <p>Bruna Marquezine, 28, marcou presença no podcast Famosos Conselhos, apresentado por Mica Rocha, que foi ao ar na madrugada desta quarta-feira (12), e deu detalhes sobre sua estreia no Met Gala 2024.</p>
                            </div>
                            <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                        </div>
                    </div>
                </div>
                <div class="card overflow-hidden shadow rounded-4 border-0">
                  <div class="card-body p-0">
                      <div class="d-flex align-items-center">
                          <div class="p-5">
                              <h2 class="fw-bolder">Nova coleção da Ralph Lauren homenageia faculdades historicamente negras</h2>
                              <p>Dois anos após prometer ressignificar o termo ”sonho americano” durante o movimento Black Lives Matter, a marca de roupas e acessórios está lançando uma coleção inspirada em faculdades historicamente negras do EUA.</p>
                          </div>
                          <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
